@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainColor: #f98561;

a {
  text-decoration: none;
  outline: none;
}
button {
  border: none;
  background-color: none;
  outline: none;
}

.wrapper {
  width: 95%;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.navigation {
  .wrapper {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app_logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 40px;
      }
    }
    .nav_links {
      a {
        font-size: 0.75rem;
        margin: 0 0.3rem;
        color: #1c1a1a;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        @media screen and (min-width: 600px) {
          font-size: 0.8rem;
          margin: 0 0.7rem;
        }
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}
.hero {
  position: relative;
  z-index: 20;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 0;
    h1 {
      font-weight: 800;
      padding: 1rem 2.5rem;
      text-align: center;
      @media screen and (min-width: 600px) {
        font-size: 4rem;
        width: 80%;
      }
      span {
        display: inline-block;
        background-image: url("../images/orange_Rectangle.svg");
        background-position: 50% 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        color: #fff;
        padding: 0rem 1rem;
      }
    }
    .p {
      color: #1c1a1a;
      line-height: 1.5;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0 0.6rem;
      text-align: center;
      @media screen and (min-width: 600px) {
        font-size: 1.2rem;
        width: 50%;
      }
    }
    .download_links {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      a {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        margin: 0 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        img {
          width: 120px;
        }
        &:hover {
          background-color: $mainColor;
        }
      }
    }
    .hero_img {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 90%;
      }
    }
    .hero_img_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin-top: 2rem;
      @media screen and (max-width: 500px) {
        display: none;
      }
      .wrp {
        color: white;
        padding: 2rem;
        display: flex;
        align-items: center;
        .wrp_img {
          position: relative;
          img {
            width: 70px;
          }
        }
        .left {
          top: -4rem;
        }
        .right {
          top: -4rem;
        }
        .wrp_content {
          margin: 1rem;
          width: 200px;
          p {
            line-height: 1.2;
            margin-top: 0.5rem;
          }
        }
      }
      .desktop {
        position: relative;
        top: -6rem;
      }
    }
  }
  .path {
    background-color: $mainColor;
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0rem;
    z-index: -1;
    @media screen and (min-width: 900px) {
      height: 40%;
    }
  }
}
.how_it_works {
  background-color: $mainColor;
  padding: 2rem 0;
  .wrapper {
    @media screen and (min-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      height: 100vh;
    }
    .works_content {
      margin: 0 0.5rem;
      color: white;
      @media screen and (min-width: 900px) {
        width: 40%;
      }
      h5 {
        font-weight: 400;
        @media screen and (min-width: 900px) {
          font-size: 1.4rem;
        }
      }
      h1 {
        margin: 1rem 0;
        width: 70%;
        @media screen and (min-width: 900px) {
          font-size: 3rem;
          width: 100%;
        }
        span {
          display: inline-block;
          background-image: url("../images/Blue_span.svg");
          background-position: 50% 50%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-attachment: scroll;
          color: #fff;
          padding: 0rem 1rem;
        }
      }
      p {
        font-size: 0.9rem;
        line-height: 1.8;
        font-weight: 600;
        padding-right: 0.5rem;
        @media screen and (min-width: 900px) {
          font-size: 1.1rem;
        }
      }
      .download_links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 0;
        a {
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          margin-right: 0.5rem;
          img {
            width: 120px;
          }
          &:hover {
            background-color: rgba(93, 93, 231, 0.801);
          }
        }
      }
    }
    .works_img {
      @media screen and (min-width: 900px) {
        width: 60%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.customize {
  position: relative;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    h1 {
      font-weight: 800;
      padding: 1rem 2.5rem;
      text-align: center;
      color: white;
      @media screen and (min-width: 600px) {
        font-size: 3rem;
        width: 80%;
      }
      span {
        display: inline-block;
        background-image: url("../images/Blue_span.svg");
        background-position: 50% 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        color: #fff;
        padding: 0rem 1rem;
      }
    }
    .p {
      color: white;
      line-height: 1.5;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0 0.6rem;
      text-align: center;
      @media screen and (min-width: 600px) {
        font-size: 1rem;
        width: 50%;
      }
    }
    .hero_img {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 90%;
      }
    }
  }
  .path {
    background-color: $mainColor;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    top: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    position: absolute;
    @media screen and (min-width: 900px) {
      height: 50%;
    }
  }
}
